workflows/7D81iGlzae4XJBqN.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-01T14:56:55.625Z",
  "id": "7D81iGlzae4XJBqN",
  "meta": null,
  "name": "Dashboard-workflows",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "launch",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "374aab81-320b-48ba-83d3-32f322cfef3c",
      "name": "Webhook",
      "webhookId": "b3907f95-424d-4c88-a726-4a58e6550743"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.body.workflowId }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        260,
        0
      ],
      "id": "a7b67f3c-6682-43f6-97fe-4c7c4f2b94f5",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Workflow ejecutado con éxito\",\n  \"executionId\": \"{{$workflow.id}}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        520,
        0
      ],
      "id": "748d1a3b-8059-4861-800d-66010677ff0b",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-02T16:58:32.000Z",
  "versionId": "ffe02f87-d25e-43b6-995b-d9a3bf1aab14"
}