workflows/7NlRGb1YPcg1QPaJ.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-22T17:44:02.963Z",
  "id": "7NlRGb1YPcg1QPaJ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Google Drive - Pinecone Vector",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "abundant-n8n",
          "mode": "list",
          "cachedResultName": "abundant-n8n"
        },
        "options": {
          "pineconeNamespace": "libray-greenleaf"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        220,
        -320
      ],
      "id": "6bae8285-b3cc-46f6-a089-b73b84a00273",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "FAbJuCKY6RfM1KJ5",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1J7vyHl2n7HtnmaIDhjQLYfaMHtQ9P-PA",
          "mode": "list",
          "cachedResultName": "test-n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1J7vyHl2n7HtnmaIDhjQLYfaMHtQ9P-PA"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -280,
        -300
      ],
      "id": "0c2de6c5-421b-46e2-829b-7dbee4bd1661",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TqDzDz6s1NjnArjM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "1ef8zI09v_eujjd9IPD3GlGipGwCFi3KK"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -40,
        -300
      ],
      "id": "6171ff6b-4ad7-4f8e-9e4a-c7410e07c72a",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TqDzDz6s1NjnArjM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        -100
      ],
      "id": "10b2edfe-bce2-40dc-9bd1-68359139f0df",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "W612lICBDO5NQYnR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        440,
        -60
      ],
      "id": "77032f9d-a01c-4895-bc65-6da3cdbd4e66",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        360,
        100
      ],
      "id": "e5d25e67-f708-49b2-9d67-13882c4d3c94",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-05-08T20:29:06Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-08T20:29:09.613Z",
  "versionId": "122e3ed1-a29f-451e-b164-78ecaefeaf1b"
}