workflows/wYuEdWKk5b61ZJ7N.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read2",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-22T11:37:45.816Z",
  "id": "wYuEdWKk5b61ZJ7N",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 9",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ab498668-3b75-4632-909c-47b5a6731cb0",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://bitcoinist.com/feed",
        "options": {
          "ignoreSSL": false
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "id": "89e0784a-7f3c-457b-ba44-451b0c95648b",
      "name": "RSS Read",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://cointelegraph.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        220,
        200
      ],
      "id": "5bb665c1-be67-4f26-aebc-b65bb333c073",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "url": "https://decrypt.co/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        240,
        380
      ],
      "id": "46ec9419-da6b-4972-a2a9-ec5a99ef1f5c",
      "name": "RSS Read2"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "7aca918e-21f0-41b1-a635-5a5c2bb24f9f",
      "name": "Code"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "feedUrl": "https://bitcoinist.com/feed"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        600,
        200
      ],
      "id": "ede62b3e-94eb-46ee-9bc5-0b7948ddff87",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "url": "https://bitcoinist.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        200
      ],
      "id": "fa191004-d6ed-46db-a9c0-2fac396bc724",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://www.coindesk.com/arc/outboundfeeds/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        260,
        -240
      ],
      "id": "a5799f62-594c-470c-868c-f53304d1f006",
      "name": "RSS Read3"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-22T16:03:48.000Z",
  "versionId": "fe303c36-3ffc-4dec-bf74-5fbad89a7912"
}